In [1]:
# 202202015/마다현

# 1 파일을 읽고 데이터의 앞 부분을 출력하는 코드

import pandas as pd
import numpy as np

# 마다현 로컬 파일 위치
df = pd.read_csv('/Users/dahyoun/Documents/coding/Python/MachineLearning/KBU_2024_ML/dataSource/admission.csv')

# 제출용 파일 위치
# df = pd.read_csv("C:/ml_workspace")

df.head()

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337.0,118,4,4.5,4.5,9.65,1,0.92
1,324.0,107,4,4.0,4.5,8.87,1,0.76
2,316.0,104,3,3.0,3.5,8.00,1,0.72
3,322.0,110,3,3.5,2.5,8.67,1,0.80
4,314.0,103,2,2.0,3.0,8.21,0,0.65

In [2]:
# 2 대학평가지수(University_Rating)에 따른 학부 성적의 평균을 구하는 코드 

num2_ans = df.groupby('University_Rating')['CGPA'].mean()
num2_ans.head()

University_Rating
1    7.745769
2    8.183738
3    8.552256
4    9.021622
5    9.291167
Name: CGPA, dtype: float64

In [3]:
#3 연구 경험 유무에 따른 비율을 구하는 코드

research_ratio = df['Research'].value_counts(normalize=True)

research_yes = research_ratio[1]
research_no = research_ratio[0]

print("연구경험 유: ", research_yes)
print("연구경험 무: ", research_no)

연구경험 유:  0.5475
연구경험 무:  0.4525

In [4]:
# 4 결측치 비율을 확인하는 코드

# isnull(): 데이터프레임에서 결측값을 찾아냄
# mean(): 결측값의 비율을 계산한다. ( = sum()/len(df))

num4_ans = df.isnull().mean()
num4_ans

GRE_Score            0.02
TOEFL_Score          0.00
University_Rating    0.00
SOP                  0.00
LOR                  0.00
CGPA                 0.00
Research             0.00
Chance_of_Admit      0.00
dtype: float64

In [5]:
# 5 결측치가 있는 열에 대하여 대학평가지수에 따른 평균값으로 대체하고 다시 결측치 개수를 확인하는 코드

# apply(): df의 각 열에 대해 lambda 함수 적용
# lambda 함수 내에서 fillna()메소드 사용 -> 결측치를 해당 열의 대학평가지수에 따른 평균값으로 대체
# groupby(), transform()을 사용하여 대학평가지수별로 평균값 계산
df = df.apply(lambda column: column.fillna(df.groupby('University_Rating')
    [column.name].transform('mean')) if column.isnull().any() else column)

df.isnull().sum() # DataFrame에서 각 열(칼럼)에 대해 결측값(NaN)개수를 계산하는 메소드

GRE_Score            0
TOEFL_Score          0
University_Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance_of_Admit      0
dtype: int64

In [6]:
# 6 대학 평가 지수를 원 핫 인코딩하여 원본 데이터에 열 방향으로 합하고 앞 일부를 출력하는 코드
# prefix는 “UR”로 지정

num6_ans = pd.get_dummies(df['University_Rating'], prefix='UR')

df = pd.concat([df, num6_ans], axis=1)
df.head()

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit,UR_1,UR_2,UR_3,UR_4,UR_5
0,337.0,118,4,4.5,4.5,9.65,1,0.92,False,False,False,True,False
1,324.0,107,4,4.0,4.5,8.87,1,0.76,False,False,False,True,False
2,316.0,104,3,3.0,3.5,8.00,1,0.72,False,False,True,False,False
3,322.0,110,3,3.5,2.5,8.67,1,0.80,False,False,True,False,False
4,314.0,103,2,2.0,3.0,8.21,0,0.65,False,True,False,False,False

In [7]:
# 7 대학원 입학 평가 시험 점수는 최솟값-최댓값 정규화하여 ‘GRE’열을 생성하고 
# TOEFL 점수는 z-스코어로 정규화하여 ‘TOEFL’열을 생성하여 앞 일부를 출력하는 코드

# 대학원 입학 평가 시험 점수: 최솟값-최댓값 정규화
df['GRE'] = 
(df['GRE_Score'] - df['GRE_Score'].min()) / (df['GRE_Score'].max() - df['GRE_Score'].min())

# TOEFL_Score: z-스코어 정규화
df['TOEFL'] = (df['TOEFL_Score'] - df['TOEFL_Score'].mean()) / df['TOEFL_Score'].std()

df.head()

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit,UR_1,UR_2,UR_3,UR_4,UR_5,GRE,TOEFL
0,337.0,118,4,4.5,4.5,9.65,1,0.92,False,False,False,True,False,0.94,1.744786
1,324.0,107,4,4.0,4.5,8.87,1,0.76,False,False,False,True,False,0.68,-0.067551
2,316.0,104,3,3.0,3.5,8.00,1,0.72,False,False,True,False,False,0.52,-0.561824
3,322.0,110,3,3.5,2.5,8.67,1,0.80,False,False,True,False,False,0.64,0.426723
4,314.0,103,2,2.0,3.0,8.21,0,0.65,False,True,False,False,False,0.48,-0.726582

In [20]:
# 8 「Ouput 데이터 만들기」 대학원 합격 확률을 아래 표처럼 구간을 나누어 범주형 데이터로 생성하고 앞 일부를 출력하는 코드

bins = [0, 7.5, 8.0, 8.5, 9.0, 9.5, 10]
labels = ['admit_Bad', 'admit_NotBad', 'admit_Okay', 'admit_Good', 'admit_Great', 'admit_Excellent']
df['Admission_Category'] = pd.cut(df['Chance_of_Admit'], bins=bins, labels=labels, right=False)

admission_dummies = pd.get_dummies(df['Admission_Category'])
df[labels] = admission_dummies

df[labels].head()

,admit_Bad,admit_NotBad,admit_Okay,admit_Good,admit_Great,admit_Excellent
0,True,False,False,False,False,False
1,True,False,False,False,False,False
2,True,False,False,False,False,False
3,True,False,False,False,False,False
4,True,False,False,False,False,False

In [21]:
# 9 「데이터 분리」 테스트 데이터는 전체 데이터의 25%로 사용하여 훈련 데이터와 테스트 데이터를 분리하는 코드
# - 코드 분리 후, 넘파이 배열로 지정 후, “np.float32”로 데이터 타입 지정하는 것이 안정적

from sklearn.model_selection import train_test_split

x_col = ['University_Rating', 'SOP', 'LOR', 'CGPA', 
         'Research', 'UR_1', 'UR_2', 'UR_3', 'UR_4', 'UR_5', 'GRE', 'TOEFL']
X = df[x_col]

y = df[['admit_Bad', 'admit_NotBad', 'admit_Okay', 'admit_Good', 
        'admit_Great', 'admit_Excellent']]
y = y.values  # 넘파이 배열로 변환 (필수)

# 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# 데이터 타입 변환
X_train = np.asarray(X_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

In [23]:
# 10. 「모델 생성」 그림 “머신러닝 지도 학습 구조”를 기반으로 모델 생성하여 summary함수 호출하는 코드

from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Activation, Dropout

# 입력 특성의 수를 바로 모델의 입력층에 전달하여 모델 생성
input_layer = Input(shape=(X_train.shape[1],))

# Dense 층 만들기
dense_layer_1 = Dense(10, activation='relu')(input_layer)
dense_layer_2 = Dense(8, activation='swish')(dense_layer_1)
output = Dense(6, activation='softmax')(dense_layer_2)

model = Model(inputs=input_layer, outputs=output, name='model')
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])

model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 12)]              0

 dense_6 (Dense)             (None, 10)                130

 dense_7 (Dense)             (None, 8)                 88

 dense_8 (Dense)             (None, 6)                 54

=================================================================
Total params: 272
Trainable params: 272
Non-trainable params: 0
_________________________________________________________________

In [24]:
# 11 「학습」 배치 사이즈는 5, 에폭은 10으로 하여 학습 시키는 코드

history = model.fit(X_train, y_train, batch_size=5, epochs=10, verbose=1, validation_split=0.2)

Epoch 1/10
48/48 [==============================] - 0s 3ms/step - loss: 0.5790 - acc: 0.9542 - val_loss: 0.1790 - val_acc: 1.0000
Epoch 2/10
48/48 [==============================] - 0s 829us/step - loss: 0.1038 - acc: 1.0000 - val_loss: 0.0486 - val_acc: 1.0000
Epoch 3/10
48/48 [==============================] - 0s 754us/step - loss: 0.0358 - acc: 1.0000 - val_loss: 0.0212 - val_acc: 1.0000
Epoch 4/10
48/48 [==============================] - 0s 709us/step - loss: 0.0175 - acc: 1.0000 - val_loss: 0.0111 - val_acc: 1.0000
Epoch 5/10
48/48 [==============================] - 0s 735us/step - loss: 0.0099 - acc: 1.0000 - val_loss: 0.0067 - val_acc: 1.0000
Epoch 6/10
48/48 [==============================] - 0s 781us/step - loss: 0.0062 - acc: 1.0000 - val_loss: 0.0044 - val_acc: 1.0000
Epoch 7/10
48/48 [==============================] - 0s 723us/step - loss: 0.0042 - acc: 1.0000 - val_loss: 0.0030 - val_acc: 1.0000
Epoch 8/10
48/48 [==============================] - 0s 753us/step - loss: 0.0030 - acc: 1.0000 - val_loss: 0.0022 - val_acc: 1.0000
Epoch 9/10
48/48 [==============================] - 0s 708us/step - loss: 0.0022 - acc: 1.0000 - val_loss: 0.0017 - val_acc: 1.0000
Epoch 10/10
48/48 [==============================] - 0s 723us/step - loss: 0.0017 - acc: 1.0000 - val_loss: 0.0013 - val_acc: 1.0000

In [25]:
# 12 「평가」 Loss율과 정확도를 보여주는 코드

score = model.evaluate(X_test, y_test, verbose=1)

print("Test Loss:", score[0])
print("Test Accuracy:", score[1])

4/4 [==============================] - 0s 980us/step - loss: 0.0011 - acc: 1.0000
Test Loss: 0.0011399084469303489
Test Accuracy: 1.0